.web-body {
    font-family: 'Kumbh Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url(./images/bg-pattern-top.svg),
        url(./images/bg-pattern-bottom.svg);
    background-position:
        bottom 500px left -100px, /* this positions the first image */
        top 500px right -100px; /* this positions the second image */
    background-repeat:
        no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card-outer-box {
    display: flex;
    width: 25%;
    height: 40%;
    flex-direction: column;
    overflow: hidden;
    background-color: hsl(225, 100%, 100%);
    border-radius: 20px;
}

.card-inner-box-1 {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 80%;
}


.profile-name {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 1.2rem;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid hsl(225, 100%, 100%);
}

.profile-age {
    margin-left: 10px;
    font-size: 18px;
    color: hsl(0, 0%, 59%);
}

.profile-place {
    margin-top: 0;
    margin-bottom: 20px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 18px;
}

hr {
    width: 100%;
    opacity: 0.3;
    margin: 0;
}

.card-inner-box-2 {
    display: flex;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    height: 25%;
    width: 80%;
}

.social-results {
    margin-bottom: 5px;
}

.social-type {
    margin-top: 0;
    color: hsl(0, 0%, 59%);
}

.stats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .card-outer-box {
        width: 35%
    }
}

@media (max-width: 700px) {
    .card-outer-box {
        width: 50%
    }
}

@media (max-width: 375px) {
    .card-outer-box {
        width: 90%
    }
    .web-body {
        background-position:
        bottom 500px left -800px, 
        top 500px right -800px;
    }
}